*{
    padding:0px;
    margin:0px;
}

body{
    position: relative;
}
.nav{
    display: flex;
}
.nav-bar{
    display:flex;
    align-items: center;
    background-color: green;
    position: relative;
}

.nav-bar h1::first-letter{
font-size:5rem;
color:antiquewhite
}

.nav-bar h1{
font-size:50px;
width:20rem;
padding-left:20px;
}

.nav-items{
    display:flex;
    align-items: center;
    justify-content: center;
    width:36rem;
    padding-left:45rem;
    margin-top:auto;
    position:absolute;
    top:0;
}
.nav-items ul{
    list-style-type: none;
    display:flex;
}
.nav-items ul li{
    padding:30px;
    font-size:28px;
    font-weight:bold;
}
.login{
    align-items: end;
    justify-content: end;
    position:absolute;
    left:80%;
}
.login button{
    border: none;
    padding: 20px;
    font-size:20px;
    background-color:green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titles{
    display: grid;
    justify-content: center;
    align-self: center;
    padding-top:20px;
    padding:30px;
}
.titles h1{
    font-size: 80px;
    letter-spacing:3px;
}
.titles ul{
    display: flex;
    list-style-type:none;
    margin:20px;
}
.titles ul li{
    font-size:25px;
    color: grey;
    font-weight: bolder;
    padding-left:25px;
}
.url-container{
    background-image: url();
    display:flex;
    flex-direction:row;
    padding:20px;
}
.url-part .url-card{
    background-color:antiquewhite;
    border-top:solid 5px green;
    border-radius:15px;
    width:75rem;
    height:30rem;
    margin-top:2rem;
    display:flex;
}
.left-part {
    display:grid;
    flex-direction: column;
    align-items:center;
    padding:20px;
    width:25%;
    height:30rem;
    border:black solid 5px;
    border-radius: 2px;
    margin:5rem;
}


.url-input button:hover {
    background-color: #636567;
}
.Waystoqrcode {
    display: flex;
    margin-bottom: 10px;
    width:30rem;
}

.tab-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s;
}

.url-input {
    display: flex;
    flex-direction: column; 
    padding:30px;
    width:25rem;
    height:12rem;
    margin-bottom:auto;
    /* overflow:hidden;
    overflow-y:scroll; */
}
.tab-btn.active {
    background-color: green;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width:20rem;
    height:20rem;
   
}

.tab-content.active {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 50px;

}
.Waystoqrcode {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.tab-btn.active {
    background-color: green;
    color: white;
}

.url-input select,
.url-input input {
    width:24rem;
    height:2rem;
    padding: 10px;
    margin-top:30px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tab-content .ways img{
width:2rem;
height:2rem;
}
.tab-content .ways{
    display:grid;
    grid-template-columns: auto auto auto;
}
.tab-content .ways button{
    width:5rem;
    height:5rem;
    margin:20px;
    border:2px solid;
    display:grid;
    padding:10px;
    gap:10px;
    background: transparent;
    justify-content: center;
}
.tab-content .ways button:hover{
cursor: pointer;
background-color: #68bb53;
}
.url-input button {
    width: 25rem;
    height:3.5rem;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius:10px;
    font-size: 1.2rem;
    margin-top: 40px;
    cursor: pointer;
}

.url-input button:hover {
    background-color: grey;
}
.right-part{
    width:30rem;
    height:20rem;
    border:solid black 5px;
    display:flex;
    margin-top:5rem;
    padding:10px;
    width:25%;
    height:31rem;
}
.quote {
    margin-top:5rem;
    padding:5rem;
    font-size:3rem;
    font-weight: 600;
    margin-left:3rem;
}
.right-part #Qrcodeimgbox{
    display:grid;
    align-items: center;
    margin-left:5rem;
    text-align:start;

}
.right-part #Qrcodeimgbox #Qrimg{
width:15rem;
height:15rem;
}
.right-part #Qrcodeimgbox button{
    border-radius: 20px;
    background-color:black;
    border:none;
    padding:20px;
    font-size: 20px;
    color: white;
    width: 20rem;
}
.right-part #Qrcodeimgbox button:hover{
    background-color:grey;
    cursor: pointer;
    color:black;
    font-weight:700;
}

.customization{
    display:grid;
    margin-left:25rem;
    width:50rem;
    height:50rem;
    border:solid 2px black;

}
/********************/
/*media query */
@media screen and(max-width:1024px){
    .nav{
        display: flex;
    }
    .nav-bar{
        display:flex;
        align-items: center;
        background-color: green;
        position: relative;
    }
    
    .nav-bar h1::first-letter{
    font-size:3rem;
    color:antiquewhite
    }
    
    .nav-bar h1{
    font-size:40px;
    width:20rem;
    padding-left:20px;
    }
    
    .nav-items{
        display:flex;
        align-items: center;
        justify-content: center;
        width:36rem;
        padding-left:30rem;
        margin-top:auto;
        position:absolute;
        top:0;
    }
    .nav-items ul{
        list-style-type: none;
        display:flex;
    }
    .nav-items ul li{
        padding:30px;
        font-size:28px;
        font-weight:bold;
    }
    .login{
        align-items: end;
        justify-content: end;
        position:absolute;
        left:80%;
    }
    .login button{
        border: none;
        padding: 20px;
        font-size:20px;
        background-color:green;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
