*{
    margin: 0;
    padding: 0;
}
main{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    height:100%;
}

.container{
    display: flex;
    flex-wrap: wrap;  
    width:90%;
    max-width:100rem;
    height:100rem;
    border-radius:40px;
    box-shadow: 3px 3px 5px gray, -3px -3px 5px lightgray;
    z-index: 1;
    padding: 20px;
}

.qr-container{
    width: 100%; 
    max-width: 1100px;
    height:80%;
    max-height: 2000px;
    flex-grow: 1;
    border-radius: 10px;
    margin:20px;
    flex:7;
    border: 2px black;
    box-shadow: 3px 3px 5px gray, -3px -3px 5px lightgray;
}

.qrcode{
    width:100%;
    flex:3;
    flex-grow: 1;
    width: 100%; 
    max-width: 1200px;
    height:auto;
    margin:20px;
    border: 2px black;
    box-shadow: 3px 3px 5px gray, -3px -3px 5px lightgray;
    border-radius: 10px;
}
/* @media (max-width:900px){
.container{
    flex-direction: column;
    height:100rem;
    height:100rem !important;
}
.qr-container,.qrcode{
    width:100%;
    height:auto;
    flex-wrap: wrap;
    flex:1;
}
} */

.ways img{
    width:2rem;
    height:2rem;
    }
.ways{
        display:flex;
        flex-direction: row;
        column-count: 2;
        margin:30px;
        gap:10px;
        padding:30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border:2px;
        box-shadow: inset 3px 3px 5px lightgray, inset -3px -3px 5px lightgray;
    }
.ways button{
        width:5rem;
        height:5rem;
        border:2px solid;
        display:grid;
        padding:10px;
        gap:10px;
        margin:10px;
        background: transparent;
        justify-content: center;
        border-radius: 10px;
    }
.ways button:hover{
    cursor: pointer;
    background-color: #68bb53;
    }
    .url-input{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        border:solid 2px grey;
        gap:10px;
        width:90%;
        max-width:1000px;
        margin:30px;
        padding:30px;
        border-radius: 20px;
        align-items: center;

    }
    .url-input input , #create-btn{
       max-width:1000px;
       width:80%;
       min-height:3rem;
       height:50%;
       margin:20px;
       font-size:25px;
       border: none;
       padding: 20px;
       border-radius: 10px;
       background-color: rgb(214, 211, 211);
    }
    .url-input #create-btn{
        background-color: black;
        color: white;
        text-align: center;
    }
.url-input #create-btn:hover{
color: rgb(24, 24, 24);
background-color: rgb(232, 225, 225);
}

.qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(14, 13, 13);
}
.qrcode h3{
    margin-bottom: 30%;
    font-size:35px;
}
.qrcode img {
    width:300px;
    height:300px;
}
.qrcode a{
    margin:10%;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}
.qrcode button{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    max-width:300px;
    width:100%;
    max-height:50px;
    font-size:25px;
    border-radius:10px;

}


.phonepopupcontainer{
    display:none;
    padding:10px;
    width:92%;
    max-width:1200px;
    height:30rem;
    max-height:30rem;
    border:solid 2px green;
    box-shadow: #68bb53;
    border-radius: 20px;
    box-shadow: #68bb53;
    margin: 30px;
    }
    .phonepopupcontainer .phonepopup{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    max-width:800px;
    }
    .phonepopupcontainer .phonepopup p{
        font-size:25px;
        font-style: oblique;
        width:100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #close-btn {
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color:white;
    font-weight: 600;
    text-align: center;
    height:3rem;
    width:35rem;
    
    }
    .phonepopupcontainer .phonepopup input {
        width:100%;
        max-width:1200px;
        max-height: 500px;
        height:10%;
        margin:20px;
        border:2px solid;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:10px;
        gap:10px;
        border:none;
        align-items: center;
        justify-content: center;
        box-shadow: inset 3px 3px 5px lightgray, 3px 3px 5px lightgray;
    }
    #generate-btn{
    background-color:black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color:white;
    font-weight: 600;
    text-align: center;
    width:35rem;
    height:3rem;
    }

    /*email*/


.emailpopupcontainer{
    display:none;
    padding:10px;
    width:92%;
    max-width:1200px;
    height:60%;
    max-height:1000px;
    border:solid 2px green;
    box-shadow: #68bb53;
    border-radius: 20px;
    box-shadow: #68bb53;
    margin: 30px;
    }
    .emailpopupcontainer .emailpopup{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    max-width:800px;
    }
    .emailpopupcontainer .emailpopup p{
        font-size:25px;
        font-style: oblique;
        width:100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .emailpopupcontainer .emailpopup input {
        width:100%;
        max-width:1200px;
        max-height: 500px;
        height:10%;
        margin:20px;
        border:2px solid;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:10px;
        gap:10px;
        border:none;
        align-items: center;
        justify-content: center;
        box-shadow: inset 3px 3px 5px lightgray, 3px 3px 5px lightgray;
    }
    
   /*location*/

.locpopupcontainer{
    display:none;
    padding:10px;
    width:92%;
    max-width:1200px;
    height:30%;
    max-height:1000px;
    border:solid 2px green;
    box-shadow: #68bb53;
    border-radius: 20px;
    box-shadow: #68bb53;
    margin: 30px;
    }
    .locpopupcontainer .locpopup{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    max-width:800px;
    }
    .locpopupcontainer .locpopup p{
        font-size:25px;
        font-style: oblique;
        width:100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .locpopupcontainer .locpopup input {
        width:100%;
        max-width:1200px;
        max-height: 500px;
        height:10%;
        margin:20px;
        border:2px solid;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:10px;
        gap:10px;
        border:none;
        align-items: center;
        justify-content: center;
        box-shadow: inset 3px 3px 5px lightgray, 3px 3px 5px lightgray;
    }
    
    /*sms*/
    
.smspopupcontainer{
    display:none;
    padding:10px;
    width:92%;
    max-width:1200px;
    height:30rem;
    max-height:30rem;
    border:solid 2px green;
    box-shadow: #68bb53;
    border-radius: 20px;
    box-shadow: #68bb53;
    margin: 30px;
    }
    .smspopupcontainer .smspopup{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    max-width:800px;
    }
    .smspopupcontainer .smspopup p{
        font-size:25px;
        font-style: oblique;
        width:100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .smspopupcontainer .smspopup input {
        width:100%;
        max-width:1200px;
        max-height: 500px;
        height:10%;
        margin:20px;
        border:2px solid;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:10px;
        gap:10px;
        border:none;
        align-items: center;
        justify-content: center;
        box-shadow: inset 3px 3px 5px lightgray, 3px 3px 5px lightgray;
    }

    /*text*/
    .textpopupcontainer{
        display:none;
        padding:10px;
        width:92%;
        max-width:1200px;
        height:30rem;
        max-height:30rem;
        border:solid 2px green;
        box-shadow: #68bb53;
        border-radius: 20px;
        box-shadow: #68bb53;
        margin: 30px;
        }
        .textpopupcontainer .textpopup{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:10px;
        width:100%;
        max-width:800px;
        }
        .textpopupcontainer .textpopup p{
            font-size:25px;
            font-style: oblique;
            width:100%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .textpopupcontainer .textpopup input {
            width:100%;
            max-width:1200px;
            max-height: 500px;
            height:10%;
            margin:20px;
            border:2px solid;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding:10px;
            gap:10px;
            border:none;
            align-items: center;
            justify-content: center;
            box-shadow: inset 3px 3px 5px lightgray, 3px 3px 5px lightgray;
        }
.nav{
    background-color: grey;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    max-width: 2500px;
    height:40%;
    max-height: 500px;
}
.nav h1::first-letter{
    font-size:5rem;
    color:antiquewhite
    }
    
.nav h1{
    font-size:50px;
    width:20rem;
    padding-left:20px;
    text-align: center;
    margin-left:30px;
    justify-content: center;
    cursor: pointer;
    }
.nav .nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 100px 0px auto;
}
.nav-items ul{
    list-style-type: none;
    display: flex;
    gap:50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.nav-items ul li {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
} 

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top:20px;
}
.titles h2{
    font-size:20px;
    letter-spacing:3px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.titles ul{
    display: flex;
    list-style-type:none;
    margin:20px;
}
.titles ul li{
    font-size:15px;
    color: grey;
    font-weight: bolder;
    padding-left:25px;
}

@media (max-width: 1920px) {
    .qr-container{
        height: auto;
    }
    .titles h2{
        font-size: 4rem;
    }
    .titles ul li{
        font-size:2rem;
    }
    .url-input{
        width:auto;
    }
    .qrcode{
        justify-content: start;
    }
    .qrcode h3{
        margin-top:30px;
        margin-bottom: 20px;
    }
    .qrcode a{
        font-size: 35px !important;
    }

    
.phonepopupcontainer{
    width:auto;
}
.phonepopupcontainer .phonepopup input{
    width:60%;
    font-size: 20px;
}

.emailpopupcontainer{
    width: auto;
    height: 40%;
}
.emailpopupcontainer .emailpopup input{
    width:70%;
    margin:10px;
    font-size: 20px;
}
.locpopupcontainer{
    width: auto;
}
.locpopupcontainer .locpopup input{
    width: 70%;
    font-size: 20px;
}
.textpopupcontainer{
    width: auto;
}
.textpopupcontainer .textpopup input{
    width:60%;
    font-size: 20px;
}
#generate-btn,#close-btn{
    width:60%;
    margin: 5px;
}
}

@media (max-width: 1440px) {
.titles h2{
    font-size: 6rem;
}
.titles ul li{
    font-size:2rem;
}
.ways button{
    font-size:18px
}
.qr-container{
    width: auto;
    height:auto;
}
.url-input{
    width:auto;
}
.qrcode{
justify-content:start;
}
.qrcode h3{
    margin-top: 30px;
}
.qrcode a{
    font-size: 25px !important;
}

.phonepopupcontainer{
    width:auto;
}
.phonepopupcontainer .phonepopup input{
    width:60%;
    font-size: 20px;
}

.emailpopupcontainer{
    width: auto;
    height: 50%;
}
.emailpopupcontainer .emailpopup{
    gap:0px;
}
.emailpopupcontainer .emailpopup input{
    width:70%;
    margin:10px;
    font-size: 20px;
}
.locpopupcontainer{
    width: auto;
    height:40%;
}
.locpopupcontainer .locpopup input{
    width: 70%;
    font-size: 20px;
}
.textpopupcontainer{
    width: auto;
}
.textpopupcontainer .textpopup input{
    width:60%;
    font-size: 20px;
}
#generate-btn,#close-btn{
    width:60%;
    margin: 5px;
}

}

@media (max-width: 1200px) {
    .container{
        flex-direction: column;
        width:auto;
    }
    .qr-container{
        width:auto;
    }
    .qrcode{
        width: auto;
    }
    .titles h2{
        font-size: 4rem;
    }
    .titles ul li{
        font-size: 25px;
    }
    .ways button{
        font-size:17px;
    }
    .url-input{
        width:auto;
        }
    .qrcode h3{
        margin-bottom: 10px;
    }
    .qrcode a{
        margin:20px;
        font-size: 25px !important;
    }
    .qrcode button{
        margin:5px;
    }

    .phonepopupcontainer{
        width:auto;
    }
    .phonepopupcontainer .phonepopup input{
        width:60%;
    }
    
    .emailpopupcontainer{
        width: auto;
        height: 50%;
    }
    .emailpopupcontainer .emailpopup{
        gap:0px;
    }
    .emailpopupcontainer .emailpopup input{
        width:70%;
        margin:10px;
        font-size: 25px;
    }
    .locpopupcontainer{
        width: auto;
        height:40%;
    }
    .locpopupcontainer .locpopup input{
        width: 70%;
    }
    .textpopupcontainer{
        width: auto;
    }
    .textpopupcontainer .textpopup input{
        width:60%;
    }
    #generate-btn,#close-btn{
        width:60%;
        margin: 5px;
    }

}




@media (max-width: 1024px) {
.container{
    display: grid;
    height:auto;
    width:auto;
    padding:30px;
}
.qr-container{
    width: auto;
    height:120% ;
    max-height: 150%;
}
.titles h2{
    font-size: 4rem;
}
.titles ul li{
    font-size: 30px;
}
.url-input{
    width:auto;
}
.qrcode {
    width:auto;
    margin-top: 20%;
}
.qrcode h3{
    margin-bottom: 4rem;
}
.qrcode a{
    font-size: 30px !important;
    margin:3%;
}

.phonepopupcontainer{
    width:auto;
}
.phonepopupcontainer .phonepopup input{
    width:60%;
}

.emailpopupcontainer{
    width: auto;
    height: 60%;
}
.emailpopupcontainer .emailpopup{
    gap:0px;
    padding: 0;
    margin: 0;
}
.emailpopupcontainer .emailpopup input{
    width:70%;
    margin:10px;
    font-size: 25px;
}
.locpopupcontainer{
    width: auto;
    height:50%;
}

.locpopupcontainer .locpopup input{
    width: 70%;
}
.textpopupcontainer{
    width: auto;
}
.textpopupcontainer .textpopup input{
    width:60%;
}
#generate-btn,#close-btn{
    width:60%;
    margin: 5px;
}

}



@media (max-width: 767px) {
    .container {
        height: auto;
    }
    .qr-container{
        height:110%;
    }
    .titles h2{
        font-size:3rem;
    }
    .titles ul li{
        font-size:25px;
    }
    .url-input{
        width:auto;
    }
    .qrcode{
        margin-top: 20%;
    }
    .qrcode h3{
        margin-bottom: 40px;
    }

    .phonepopupcontainer{
        width:auto;
    }
    .phonepopupcontainer .phonepopup input{
        width:60%;
    }
    
    .emailpopupcontainer{
        width: auto;
        height: 40%;
    }
    .emailpopupcontainer .emailpopup{
        gap:0px;
    }
    .emailpopupcontainer .emailpopup input{
        width:70%;
        margin:10px;
        font-size: 25px;
    }
    .locpopupcontainer{
        width: auto;
        height:40%;
    }
    .locpopupcontainer .locpopup input{
        width: 70%;
    }
    .textpopupcontainer{
        width: auto;
    }
    .textpopupcontainer .textpopup input{
        width:60%;
    }
    #generate-btn,#close-btn{
        width:60%;
        margin: 5px;
    }

}



@media (max-width: 600px) {
    .container{
        height:140rem;
    }
    .qr-container{
        height: 120%;
    }
.titles h2{
    font-size:40px;
}
.ways button{
font-size:1rem;
}
.url-input{
    width:auto;
}
.qrcode{
    margin-top:10rem;
}
.phonepopupcontainer{
    width:auto;
}
.phonepopupcontainer .phonepopup input{
    width:60%;
}

.emailpopupcontainer{
    width: auto;
    height: 50%;
}
.emailpopupcontainer .emailpopup{
    gap:0px;
}
.emailpopupcontainer .emailpopup input{
    width:70%;
    margin:10px;
    font-size: 25px;
}
.locpopupcontainer{
    width: auto;
}
.locpopupcontainer .locpopup input{
    width: 70%;
}
.textpopupcontainer{
    width: auto;
}
.textpopupcontainer .textpopup input{
    width: 60%;
}
#generate-btn,#close-btn{
    width:50%;
    margin: 5px;
}
}




@media (max-width: 480px) {
    .qr-container{
        height: 110%;
    }
    .nav{
        width: 100%;
    }
    .container{
        height:100%;
    }
.nav .nav-items ul li{
    font-size: 20px;
}
.titles h2{
font-size:3rem;
}
    .titles ul li{
        display:none;
    }
    .url-input{
        width:auto;
    }
    .qrcode {
        padding:20px;
        margin-top: 30%;
    }
.phonepopupcontainer{
    width:auto;
}
.phonepopupcontainer .phonepopup input{
    width:60%;
}

.emailpopupcontainer{
    width: auto;
    height: 50%;
}
.emailpopupcontainer .emailpopup input{
    width:70%;
}
.locpopupcontainer{
    width: auto;
}
.locpopupcontainer .locpopup input{
    width: 70%;
}
.textpopupcontainer{
    width: auto;
}
.textpopupcontainer .textpopup input{
    width: 60%;
}
#generate-btn,#close-btn{
    width:50%;
}
}
